# MATLAB backup and temporary files
*.asv
*.autosave
*.m~ 
*.fig~ 
*.mat~ 
*.bak
.DS_Store

# MATLAB internal folders
resources/
resources/project/
project/
*.prj.user

# IDE folders
.idea/
.vscode/

# System-specific files
Thumbs.db
desktop.ini
